/* Custom Font */
@font-face {
    font-family: 'Quicksand-Light';
    src: url('fonts/Quicksand-Light.otf');
}

/* General */
html, body{
    height: 100%;
}

body{
    font-family: Quicksand-Light, sans-serif;
}

h3{
    text-transform: uppercase;
}

p{
    color: #1a535c;
    font-size: 16px;
    font-weight: 300;
}

/* Animations */
#home-cover{
    animation-duration: .5s;
    animation-delay: .1s;
}

#home-heading{
    animation-duration: .5s;
    animation-delay: .5s;
}

.home-btn{
    animation-duration: .5s;
    animation-delay: 1s;
}

/* Buttons */
.btn-general{
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-white{
    border-color: #f7fff7;
    color: #f7fff7;
}

.btn-white:hover,
.btn-white:focus{
    background-color: #f7fff7;
    color: #000000;
}

.btn-dblue{
    border-color: #1a535c;
    color: #1a535c;
}

.btn-dblue:hover,
.btn-dblue:focus{
    background-color: #1a535c;
    color: #f7fff7;
}

/* Content Box */
.content-box{
    padding: 60px 0;
}

.content-title h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 10px 0;
}

.content-title-underline{
    width: 50px;
    height: 3px;
    background-color: #ff6b6b;
    margin: 0 auto 30px auto;
}

.content-title-white{
    color: #f7fff7;
}

/* Social Icons */
.social-list{
    padding-left: 0;
}

.social-list li{
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-list li a{
    cursor: pointer;
}

.social-icon i{
    font-size: 17px;
}

.icon-gray{
    color: #ff6b6b;
}

.social-icon i:hover{
    color: #1a535c;
}

/* Home */
#home{
    height: 100%;
}

#home-cover{
    height: 100%;
    background-size: cover;
    background: url("../img/bg-home.jpg") no-repeat fixed center;
}

#home-content-box{
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading h3{
    color: #f7fff7;
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0;
}

/* Services */

.service-item{
    padding: 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i{
    color: #4ecdc4;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i{
    color: #f7fff7;
    background-color: #4ecdc4;
}

.service-item-title h3{
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p{
    margin: 0;
    padding-left: 85px;
}

/* About */
#about-bg-diagonal{
    width: 60%;
    height: 700px;
    float: right;
    background-size: cover;
    background: url("../img/bg-about.jpg") no-repeat fixed center;
    border-left: 200px solid #f7fff7;
    border-top: 700px solid transparent;
}

.about-content-box{
    float: left;
    height: 700px;
}

#about-content-box-outer{
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3{
    text-align: left;
}

#about .content-title .content-title-underline{
    margin: 0 0 30px 0;
}

#about-desc p{
    margin-bottom: 30px;
    text-align: justify;
}

/* Work */
.row.no-gutters [class*=col-]{
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper{
    overflow: hidden;
}

.img-wrapper img{
    transition: transform .5s ease;
}

.img-wrapper img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
}

/* Team */
.team-member{
    margin: 0 15px;
}

.team-member-info{
    padding: 10px 0 30px 0;
}

h4.team-member-name{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation{
    color: #4ecdc4;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}

/* Testimonials */
#testimonials-cover{
    height: 100%;
    background-size: cover;
    background: url("../img/bg-testimonials.jpg") no-repeat fixed center;
}

#testimonials .content-box{
    background-color: rgba(26, 83, 92, 0.3);
}

#customers-testimonials{
    padding: 50px 0;
}

.testimonial img{
    max-width: 150px;
    margin: 0 auto;
}

.testimonial blockquote{
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #f7f7f7;
    padding: 6px 150px;
    position: relative;
}

.testimonial blockquote p{
    color: #f7f7f7;
}

.testimonial blockquote::before,
.testimonial blockquote::after{
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}

.testimonial blockquote::before{
    content: "\201C";
    top: 0;
    left: 100px;
}

.testimonial blockquote::after{
    content: "\201D";
    bottom: 0;
    right: 100px;
}

.testimonial-author p{
    color: #f7f7f7;
    font-size: 17px;
}

.testimonial-author p strong{
    display: block;
}













