/* Coolors Exported Palette - coolors.co/1a535c-4ecdc4-f7fff7-ff6b6b-ffe66d */

/* HSL */
$color1: hsla(188%, 56%, 23%, 1);
$color2: hsla(176%, 56%, 55%, 1);
$color3: hsla(120%, 100%, 98%, 1);
$color4: hsla(0%, 100%, 71%, 1);
$color5: hsla(50%, 100%, 71%, 1);

/* RGB */
$color1: rgba(26, 83, 92, 1);
$color2: rgba(78, 205, 196, 1);
$color3: rgba(247, 255, 247, 1);
$color4: rgba(255, 107, 107, 1);
$color5: rgba(255, 230, 109, 1);